services:
    -
      class: Atournayre\PHPStan\ElegantObject\Rules\AllPropertiesMustBePrivateRule
      arguments:
        excludedPaths:
            - %currentWorkingDirectory%/tests/Fixtures
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\AlwaysUseInterfaceRule
      arguments:
          excludedPaths:
              - '%currentWorkingDirectory%/tests'
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\BeEitherFinalOrAbstractRule
      arguments:
        excludedPaths:
          - %currentWorkingDirectory%/tests
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\BeImmutableRule
      arguments:
        excludedPaths:
            - %currentWorkingDirectory%/tests/Fixtures
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\DontUseStaticMethodsRule
      arguments:
        allowedInterfaces:
            - Symfony\Component\EventDispatcher\EventSubscriberInterface
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\KeepConstructorsCodeFreeRule
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverReturnNullRule
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverUseErNamesRule
      arguments:
          excludedSuffixes:
              - 'Adapter'
              - 'Dispatcher'
              - 'Logger'
              - 'User'
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverUseGettersAndSettersRule
      arguments:
        excludedPaths:
            - %currentWorkingDirectory%/tests
            - %currentWorkingDirectory%/src/Primitives/DateTime.php
            - %currentWorkingDirectory%/src/Primitives/Traits/DateTimeTrait.php
            - %currentWorkingDirectory%/tests/Fixtures/Birthday.php
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverUsePublicConstantsRule
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\KeepInterfacesShortRule
      arguments:
        maxMethods: 5
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\ExposeFewPublicMethodsRule
      arguments:
        maxPublicMethods: 7
        excludedPaths:
          - %currentWorkingDirectory%/src/Wrapper/SplFileInfo.php
          - %currentWorkingDirectory%/tests
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverAcceptNullArgumentsRule
      arguments:
          excludedPaths:
              - %currentWorkingDirectory%/src/Common/Collection/Event/EventSearchCollection.php
              - %currentWorkingDirectory%/src/Primitives/DateTime.php
              - %currentWorkingDirectory%/src/Primitives/Traits/DateTimeTrait.php
              - %currentWorkingDirectory%/tests/Fixtures/Birthday.php
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NoNewOutsideSecondaryConstructorsRule
      arguments:
        excludedPaths:
          - %currentWorkingDirectory%/tests
        secondaryConstructorPrefixes:
          - 'asList'
          - 'asMap'
          - 'asNull' # For Null pattern
          - 'because' # For exceptions
          - 'create'
          - 'empty'
          - 'from'
          - 'fromArray'
          - 'fromIterable'
          - 'new'
          - 'of'
          - 'with'
      tags:
        - phpstan.rules.rule
