services:
    -
      class: Atournayre\PHPStan\ElegantObject\Rules\AllPropertiesMustBePrivateRule
      arguments:
        excludedPaths:
            - %currentWorkingDirectory%/tests/Fixtures
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\AlwaysUseInterfaceRule
      arguments:
          excludedPaths:
              - %currentWorkingDirectory%/src/PHPStan
              - '%currentWorkingDirectory%/tests'
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\BeEitherFinalOrAbstractRule
      arguments:
        excludedPaths:
          - %currentWorkingDirectory%/src/Common/Exception
          - %currentWorkingDirectory%/tests
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\BeImmutableRule
      arguments:
        excludedPaths:
            - %currentWorkingDirectory%/tests/Fixtures
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\DontUseStaticMethodsRule
      arguments:
        excludedPaths:
            - '%currentWorkingDirectory%/src/Common/Assert/Assert.php'
            - '%currentWorkingDirectory%/src/Contracts/Collection/ReadOnlyListInterface.php'
            - '%currentWorkingDirectory%/src/Contracts/Collection/ReadOnlyMapInterface.php'
            - '%currentWorkingDirectory%/src/Contracts/Common/Assert'
            - '%currentWorkingDirectory%/src/Primitives/Primitive.php'
        allowedInterfaces:
            - Symfony\Component\EventDispatcher\EventSubscriberInterface
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\KeepConstructorsCodeFreeRule
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverReturnNullRule
      arguments:
          excludedPaths:
              - %currentWorkingDirectory%/src/Primitives/Collection.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/AccessCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/AddCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/AggregateCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/CollectionAsListTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/CollectionAsMapTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/CountableCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/CreateCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/DebugCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/MiscCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/OrderCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/ShortenCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/TestCollectionTrait.php'
              - %currentWorkingDirectory%/src/Primitives/Traits/Collection/TransformCollectionTrait.php'
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverUseErNamesRule
      arguments:
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverUseGettersAndSettersRule
      arguments:
        excludedPaths:
            - %currentWorkingDirectory%/src/PHPStan
            - %currentWorkingDirectory%/tests
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverUsePublicConstantsRule
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\KeepInterfacesShortRule
      arguments:
        maxMethods: 5
        excludedPaths:
          - %currentWorkingDirectory%/src/Contracts/Common/Assert
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\ExposeFewPublicMethodsRule
      arguments:
        maxPublicMethods: 5
        excludedPaths:
          - %currentWorkingDirectory%/src/Common/Assert/Assert.php
          - %currentWorkingDirectory%/src/Contracts/Common/Assert
          - %currentWorkingDirectory%/tests
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NeverAcceptNullArgumentsRule
      arguments:
          excludedPaths:
            - %currentWorkingDirectory%/src/Common/Assert/Assert.php
            - %currentWorkingDirectory%/src/Contracts/Common/Assert/AssertAllInterface.php
            - %currentWorkingDirectory%/src/Contracts/Common/Assert/AssertMiscInterface.php
            - %currentWorkingDirectory%/src/Contracts/Common/Assert/AssertNullInterface.php
      tags:
        - phpstan.rules.rule

    -
      class: Atournayre\PHPStan\ElegantObject\Rules\NoNewOutsideSecondaryConstructorsRule
      arguments:
        excludedPaths:
          - %currentWorkingDirectory%/tests
        secondaryConstructorPrefixes:
          - 'asList'
          - 'asMap'
          - 'asReadOnlyListe'
          - 'asReadOnlyMap'
          - 'because' # For exceptions
          - 'create'
          - 'from'
          - 'fromArray'
          - 'fromIterable'
          - 'new'
          - 'of'
          - 'readOnly'
          - 'with'
      tags:
        - phpstan.rules.rule
