includes:
    - ../../tools/phpstan/baseline.neon
    - ../../tools/phpstan/disallowed-calls.neon
    - ../../tools/phpstan/elegant-object.neon

services:
    -
        class: Atournayre\PHPStan\Extension\AssertTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension

parameters:
    phpVersion: 80200
    level: 6
    paths:
        - ../../src/
        - ../../tests/
    unused_public:
        methods: true
        properties: true
        constants: true
    ignoreErrors:
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::redirectToUrl\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::redirectToRoute\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::render\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::json\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::jsonError\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::file\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::empty\(\) has no return type specified.#'
        - '#Method Atournayre\\Contracts\\Response\\ResponseInterface::error\(\) has no return type specified.#'
        - '#Extending PHPStan\\Type\\WebMozartAssert\\AssertTypeSpecifyingExtension is not covered by backward compatibility promise. The class might change in a minor PHPStan version.#'
        - '#Property (.)*::\$logger is mutable, which violates object immutability#'
        - '#Property (.)*::\$null is mutable, which violates object immutability#'
        # Due to design problem
        - '#Property Atournayre\\Primitives\\Numeric::\$(.)* is mutable, which violates object immutability#'
        - '#Property Atournayre\\Component\\Mailer\\Configuration\\MailerConfiguration::\$(.)* is mutable, which violates object immutability#'
        - '#Property Atournayre\\Common\\VO\\Event::\$context is mutable, which violates object immutability#'
        - '#Property Atournayre\\Common\\Model\\AbstractUser::\$plainPassword is mutable, which violates object immutability#'
        - '#Property Atournayre\\Common\\Log\\AbstractLogger::\$logIdentifier is mutable, which violates object immutability#'
        # To be compliant with PSR7 UriInterface
        - '#Interface Atournayre\\Contracts\\Uri\\UriInterface has 19 methods, which exceeds the maximum of 5 \(Elegant Object principle\)(.)*#'
        # To be compliant with Symfony Event
        - '#Property Atournayre\\Common\\VO\\Event::\$propagationStopped is mutable, which violates object immutability#'
